* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: #fdfdfd;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Concert One', cursive;
}
