* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: #2e2e2e;
    height: 100%;
    color: #ececec;
    font-family: 'Lucida Console', Monaco, monospace;
    line-height: 1.2rem;
}

h1 {
    text-align: center;
}
h1, h2, h3 {
    font-size: inherit;
    font-weight: bold;
    padding: 0.5rem 0;
}

a {
    color: inherit;
}
a:hover {
    color: #bebebe;
}

p {
    padding-bottom: 0.5rem;
}

ul {
    padding-bottom: 0.5rem;
}
