.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    height: 100vh;
}

.heading {
    padding: 0.5rem 1rem;
}

.link_block {
    margin: 1rem 0;
    padding: 1rem 2rem;
    text-align: left;
}